<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p th:text="${film.film_id}"></p>
<p th:text="${film.title}"></p>
<p th:text="${film.description}"></p>
<p th:text="${film.release_year}">Description</p>
<!-- <table id="actors-data" style="width:100%">
  <tr>
    <th>film_id</th>
    <th>title</th>
    <th>description</th> 
    <th>release_year</th>
  </tr> -->
  
<!--   <tr th:each="message : ${film}">
        <td th:text="${message.film_id}">1</td>
        <td><a href="#" th:text="${message.title}">Title ...</a></td>
        <td th:text="${message.description}">Text ...</td>
        <td th:text="${message.release_year}">Text ...</td>
    </tr> -->
<!-- </table> -->
 
</body>
</html>
